/* Colors */
:root {
  --color-green: #66bf8a;
  --color-gray: #707070;
  --color-dark-gray: #292828;
  --color-white: #ffffff;
}

/* Space */
:root {
  --space-small: 8px;
  --space-medium: 16px;
  --space-large: 24px;
  --space-x-large: 32px;
}

/* Other */
:root {
  --box-shadow: 0 4px 10px rgb(0 0 0 / 25%);
  --footer-shadow: 0 -4px 10px rgb(0 0 0 / 25%);
  --transition: 0.3s ease-in-out;
  --border: 1px solid var(--color-gray);
  --border-radius: 20px;
}
