header {
  height: 80px;
  box-shadow: var(--box-shadow);
  padding: var(--space-small) var(--space-medium);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-medium);
}
header img {
  height: 64px;
}
header a:nth-child(2) {
  width: 50px;
  height: 50px;
  border: var(--border);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}
header a:nth-child(2):hover {
  background-color: var(--color-green);
}
