#package-info {
}

#package-info .banner {
  display: flex;
  justify-content: center;
  padding: var(--space-x-large);
}
#package-info .banner img {
  height: 200px;
}

.package-details {
  margin: var(--space-medium);
  padding: var(--space-medium);
  background-color: var(--color-green);
  border-radius: var(--border-radius);
}

.package-details .header {
  display: flex;
  justify-content: space-between;
  gap: var(--space-medium);
  align-items: center;
  margin-bottom: var(--space-small);
}

.package-details .header h3 {
  color: var(--color-dark-gray);
}
.package-details .info-items {
  display: flex;
  flex-direction: column;
  gap: var(--space-small);
  margin: var(--space-medium) 0;
}
.package-details .info-items span {
  display: flex;
  gap: var(--space-small);
}
.package-details .info-items svg {
  width: 22px;
}
